<h1>Rss</h1>

<%= link_to "登出", destroy_admin_session_path, data: { turbo_method: :delete } %>

<%= form_with(url: create_newsletter_rss_feeds_path, method: :post, data: { stimulus: "generate-newsletter" }) do |form| %>
  <% @rss_feed_items.each do |article| %>
    <div>
      <%= form.check_box :link, { multiple: true }, article.link, nil %>
      <%= form.label "selected_article_links[]", article.title %>
    </div>
  <% end %>

  <div id="selected_articles">
    <%= render 'selected_articles', selected_articles: @selected_articles %>
  </div>


  <div data-controller="generate-newsletter">
    <%= form.submit "建立電子報123", data: { action: "click->generate-newsletter#generate" } %>
  </div>
<% end %>

