<h1>Rss</h1>

<%= link_to "登出", destroy_admin_session_path, data: { turbo_method: :delete } %>

<%= form_with(url: create_newsletter_rss_feeds_path, method: :post) do |form| %>
  <% @rss_feed_items.each do |article| %>
    <div>
      <%= form.check_box "selected_article_links[]", { multiple: true }, article.link, nil %>
      <%= form.label "selected_article_links[]", article.title %>
    </div>
  <% end %>
  <div>
    <%= form.submit "建立電子報" %>
  </div>
<% end %>

